<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>

<body>
    {% include 'navigation.html' %}
    <h4>Руководство пользователя</h4>
    <p>Для добавления слов используйте вкладку "<a href="{{ url_for('add_words') }}">Добавить слова</a>". На ней Вы
        можете ввести текст вручную в поле "Текст" или загрузить с Вашего компьютера файл в формате .docx.</p>
    <p>Для нахождения редакционного расстояния (расстояния Левенштейна) используйте вкладку "<a
            href="{{ url_for('find_distance') }}">Найти расстояние Левенштейна</a>". На ней Вы сможете ввести слово и
        задать максимальное редакционное расстояние для поиска. После этого будет отображена страница с результатами,
        которую Вы можете распечатать, нажав кнопку в конце страницы.</p>
</body>

</html>